<p-fileUpload
        name="files[]"
        [url]="url"
        multiple="multiple"
        accept="image/*" maxFileSize="1000000"
        chooseLabel="{{ 'Choose' | translate }}"
        uploadLabel="{{ 'Upload' | translate}}"
        cancelLabel="{{ 'Cancel' | translate}}"
        (onUpload)="handleUpload($event)"
        (onError)="handleError($event)"
        (onClear)="handleClear($event)"
        (onBeforeUpload)="handleBeforeUpload($event)"
        (onBeforeSend)="handleBeforeSend($event)"
>
    <ng-template pTemplate="content">
        <h3 *ngIf="documents.length" translate>Uploaded Files</h3>
        <table class="table table-striped table-bordered" *ngIf="documents.length">
            <thead class="table-inverse">
            <tr>
                <th>ID</th>
                <th class="text-center">{{ documents.length }}</th>
                <th translate>Type</th>
                <th translate>Downloaded By</th>
                <th translate>Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let file of documents" class="row-file-{{ file.id }}">
                <td>{{ file.id }}</td>
                <td class="text-center">
                    <img src="data:image/jpeg;base64,{{ file.b64thumb }}" width="120" alt="{{ file.title }}">
                </td>
                <td>
                    {{ file.type | translate }}
                </td>
                <td>
                    {{ file.owner | translate }}
                </td>
                <td>
                    <button pButton type="button" (click)="deleteFile(file)" class="ui-button-danger" icon="fa-trash" label="{{ 'Delete' | translate }}"></button>
                    <button pButton type="button" (click)="downloadFile(file)" class="ui-button-secondary" icon="fa-download" label="{{ 'Download' | translate }}"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </ng-template>
</p-fileUpload>
