<div class="row">
  <div class="col-sm-3">
    <div class="row">
      <div class="col-12 mb-2">
        <label class="label required separate" translate>Title</label>
        <input type="text" pInputText
               title="Title"
               value="{{ rule.title }}"
               size="30"
               (input)="onTitleChanged($event)"
               required/>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-2">
        <label class="label separate" translate>Doctor</label>
        <nga-multi-selector
          [service]="doctorService"
          placeholder="Doctors"
          labelField="name"
          (init)="startLoader($event)"
          (loaded)="stopLoader($event)"
          (selected)="onDoctorsChanged($event)"
          [preloadedData]="rule.doctors"
        ></nga-multi-selector>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-2">
        <label class="label separate" translate>Assistant</label>
        <nga-multi-selector
          [service]="assistantService"
          placeholder="Assistants"
          labelField="title"
          (init)="startLoader($event)"
          (loaded)="stopLoader($event)"
          (selected)="onAssistantsChanged($event)"
          [preloadedData]="rule.assistants"
        ></nga-multi-selector>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-2">
        <label class="label separate" translate>City</label>
        <nga-multi-selector
          [service]="cityService"
          placeholder="Cities"
          labelField="title"
          (init)="startLoader($event)"
          (loaded)="stopLoader($event)"
          (selected)="onCitiesChanged($event)"
          [preloadedData]="rule.cities"
        ></nga-multi-selector>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-2">
        <label class="label separate" translate>Date Period</label>
        <nga-multi-selector
          [service]="periodService"
          placeholder="Date Periods"
          labelField="title"
          (init)="startLoader($event)"
          (loaded)="stopLoader($event)"
          (selected)="onPeriodsChanged($event)"
          [preloadedData]="rule.datePeriods"
        ></nga-multi-selector>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-2">
        <label class="label separate" translate>Services</label>
        <nga-multi-selector
          [service]="servicesService"
          placeholder="Services"
          labelField="title"
          (init)="startLoader($event)"
          (loaded)="stopLoader($event)"
          (selected)="onServicesChanged($event)"
          [preloadedData]="rule.services"
        ></nga-multi-selector>
      </div>
    </div>

    <div class="row">
      <div class="col-12 mb-2">
        <label class="label required separate"><b translate>Set Amount</b></label>
        <input type="text" pInputText
               value="{{ rule.priceAmount }}"
               size="30"
               (input)="onPriceAmountChanged($event)"
               (change)="priceAmountToFixed($event)"
               required/>
      </div>
    </div>

    <button class="btn btn-success"
            translate [disabled]="!hasPrice()"
            (click)="saveFinanceRule()"
    >Add</button>
  </div>
  <div class="col-sm-9">
    <div class="alert alert-warning" role="alert">
      <nga-finance-info
        [(financeRule)]="rule"
        (init)="startLoader($event)"
        (loaded)="stopLoader($event)"
      ></nga-finance-info>
    </div>
    <div class="alert alert-danger">
      <ul class="info-list">
        Необходимо учесть, что с данным правилом пересекаются следующие правила назначения платежей:
        <li>
          1. Для данного врача
          днём
          назначить оплату в 2 рубля
        </li>
        <li>
          2. Для данной ассистантской компании добавлена скидка в 10 рублей.
        </li>
        <li>
          Итого после всех правил общий индекс составляет -100 рублей!!!
        </li>
      </ul>
    </div>
  </div>
</div>
