<p-fileUpload name="files[]" url="{{ uploadService.getUploadUrl() }}" multiple="multiple"
              accept="image/*" maxFileSize="1000000"
              chooseLabel="{{ 'general.choose' | translate }}"
              uploadLabel="{{ 'general.upload' | translate}}"
              cancelLabel="{{ 'general.cancel' | translate}}"
              (onUpload)="handleUpload($event)"
              (onError)="handleError($event)"
              (onClear)="onClear($event)"
              (onBeforeUpload)="onBeforeUpload($event)"
>
    <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </ng-template>
</p-fileUpload>
