<div class="row">
    <div class="col">
        <div class="row mb-2" *ngFor="let param of parameters">
            <div class="col-6">
                {{ param.title }}
            </div>
            <div class="col-6 pull-left">
                <button pButton icon="fa fa-arrow-circle-right" iconPos="left"
                        class="ui-button-info pull-left"
                        (click)="onAddParameter(param)"
                        label="{{ 'Insert' | translate }}"></button>
            </div>
        </div>
        <h3 *ngIf="!parameters.length">{{ 'No parameters assigned' | translate }}</h3>
    </div>
</div>
