<div class="widgets">
    <div class="row">
        <div class="col-sm-{{ selectedDiagnostic ? '6' : '12' }}">
            <ba-card title="Diagnostics" baCardClass="with-scroll">
                <ng2-smart-table
                        *ngIf="settings.columns"
                        [settings]="settings"
                        [source]="source"
                        (deleteConfirm)="onDeleteConfirm($event)"
                        (userRowSelect)="onUserSelectRow($event)"
                        (createConfirm)="onTableCreate($event)"
                        (editConfirm)="onTableSave($event)"
                ></ng2-smart-table>
            </ba-card>
        </div>
        <div class="col-sm-6" [hidden]="!selectedDiagnostic">
            <nga-diagnostic-editor
                    [diagnostic]="currentDiagnostic"
                    (diagnosticSaved)="onUpdateDiagnostic($event)"
                    (openCategoryEditor)="openCategoryEditor($event)"
                    (close)="closeDiagnosticEditor()"
            ></nga-diagnostic-editor>
            <diagnostic-category-editor
                    [hidden]="!editCategories"
                    [categoryId]="categoryId"
                    (changedCategories)="onCategoryChanged()"
            ></diagnostic-category-editor>
        </div>
    </div>

</div>
