<div class="widgets">

  <div class="row">
    <div class="col-sm-6">
      <ba-card title="Basic Example" baCardClass="with-scroll">
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserSelectRow($event)"></ng2-smart-table>
      </ba-card>
    </div>
    <div class="col-sm-6">
      <diagnose-card [hidden]="!selectedDiagnose" [diagnose]="currentDiagnose" (diagnoseSaved)="onUpdateDiagnose($event)"></diagnose-card>
    </div>
  </div>

</div>
