<div class="widgets">

  <div class="row">
    <div class="col-sm-6">
      <ba-card baCardClass="with-scroll">
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (userRowSelect)="onUserSelectRow($event)"></ng2-smart-table>
      </ba-card>
    </div>
    <div class="col-sm-6">
        <diagnostic-card [hidden]="!selectedDiagnostic" [diagnostic]="currentDiagnostic" (diagnosticSaved)="onUpdateDiagnostic($event)"></diagnostic-card>
        <categories-editor></categories-editor>
    </div>
  </div>

</div>
