<div class="row">
    <div class="col-xs-12 col-md-4" *ngFor="let paymentViewer of paymentViewers">
        <nga-payment-block
            [loading]="paymentViewer.loading"
            [title]="getTitle(paymentViewer.type) | translate"
            [theme]="paymentViewer.type === 'income' ? 'success' : ''"
            (update)="update(paymentViewer.type)"
            [priceAmount]="paymentViewer.value"
            [currency]="paymentViewer.currency"
            [formula]="paymentViewer.formula"
        ></nga-payment-block>
    </div>
</div>
