// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include prefixer(transform, translateX(-50%) translateY(-50%), webkit moz ms o spec);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include prefixer(transform, translateX(-50%), webkit moz ms o spec);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include prefixer(transform, translateY(-50%), webkit moz ms o spec);
  }
}
